# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# Logs
*.log

# Package Files
*.jar
*.war
*.nar
*.ear

# IDE - IntelliJ
.idea/
*.iml

# IDE - VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Temp files
*.tmp

# Crash logs
hs_err_pid*
replay_pid*

# Test output
surefire-reports/
